# Core dependencies
beautifulsoup4
colorama
md2pdf
python-dotenv
pyyaml
uvicorn[standard]
pydantic==1.10.13
fastapi
python-multipart
markdown
markdown2
jinja2
aiofiles
mistune
python-docx
htmldocx
lxml_html_clean
websockets
unstructured
json_repair
json5
loguru
requests
tiktoken
arxiv
PyMuPDF

# GPT Researcher + LLM
gpt-researcher==0.11.0
langchain==1.0.0
langchain-core==1.0.0
langchain-community==0.0.16
langchain-openai==0.0.7
langgraph==0.0.18
langsmith==0.1.21 # Corrected version to resolve dependency conflict

# Browser support
playwright
